<footer class="footer" id="footer">
  <div class="container">
    <nav class="footer-navigation">
      <div class="footer-conteiner-box">
        <div class="footer-name-box">
          <p class="footer-name">
            <span class="chocolate-footer">Chocolate</span> a delicious cure for
            a bad day
          </p>
        </div>

        <div class="contacts-box-footer">
          <div class="footer-contact-us">
            <p class="footer-paragraf">Contact us</p>
            <address>
              <ul>
                <li class="footer-addres">
                  <a href="tel:+380684439426"> +380 (68) 443-94-26</a>
                </li>
                <li class="footer-addres">
                  <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
                </li>
              </ul>
            </address>
          </div>

          <div class="footer-contact-icon">
            <ul class="footer-lisst">
              <li class="footer-item">
                <a href="https://www.instagram.com/" target="_blank">
                  <svg class="footer-socials-icon">
                    <use href="/img/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-item">
                <a href="https://twitter.com/?lang=en" target="_blank">
                  <svg class="footer-socials-icon">
                    <use href="/img/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <span class="footer-span"></span>

      <ul class="footer-lisst-nav">
        <li class="footer-lisst-item">
          <a
            class="footer-lisst-icon"
            href="https://pashokgonchar.github.io/project_9/"
            >Home</a
          >
        </li>
        <li class="footer-lisst-item">
          <a class="footer-lisst-icon" href="#how-its-made">How it's made?</a>
        </li>
        <li class="footer-lisst-item">
          <a class="footer-lisst-icon" href="#our-products">Our products</a>
        </li>
        <li class="footer-lisst-item">
          <a class="footer-lisst-icon" href="#top-sellers">Top sellers</a>
        </li>
        <li class="footer-lisst-item">
          <a class="footer-lisst-icon" href="#chocolate-is-love"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
