<section class="hero-section">
  <div class="hero-container">
    <h1 class="hero-title">
      Treat yourself or a loved one to <br />
      our finest ingredients for a moment <br />
      of pure delight!
    </h1>
    <div class="hero-btn-item">
      <div class="hero-button-list">
        <button type="button" class="hero-button сolored">Buy now</button>
        <a href="#how-its-made" class="hero-button transparent"
          >How it’s made</a
        >
      </div>

      <a href="#our-products" class="hero-button scroll">
        scroll down
        <div class="elips-btn-hero">
          <svg class="icon-btn-hero">
            <use href="/img/icons.svg#icon-vector"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
