<section id="how-its-made">
  <div class="container">
    <h2 class="title-made">
      HOW IT'S <span class="title-slogan">MADE ?</span>
    </h2>
    <div class="how-its-made">
      <iframe
      class="video-made"
        src="https://www.youtube.com/embed/9MBrCCCrvDA?start=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
        loading="lazy"
      ></iframe>
      <div class="text-made">
        <h2 class="subtitle">
          Try our chocolates today and <br />
          discover the perfect balance of flavor
        </h2>
        <ul class="list-made">
          <li class="item desktop-none">
            <span class="custom-inside"></span>
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="item">
            <span class="custom-inside"></span>
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="item">
            <span class="custom-inside"></span>
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="item">
            <span class="custom-inside"></span>
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="item">
            <span class="custom-inside"></span>
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
