<a href="">
    <span>Top</span>
    "Sellers"
</a>
<div>
    <ul>
<li>
    <img 
    srcset="../img/buy_choco_nuts_desktop.jpg 1x, ../img/buy_choco_nuts_desktop@2x.jpg 2x"
    src="../img/buy_choco_nuts_desktop.jpg" 
    alt="coffee" 
    width="368px">
</li>
<li>
    <img
    srcset="../img/buy_choco_marm_desktop.jpg 1x, ../img/buy_choco_marm_desktop@2x.jpg 2x" 
    src="../img/buy_choco_marm_desktop.jpg" 
    alt="nuts" 
    width="368px">
</li>
<li>
    <img 
    srcset="../img/buy_choco_desktop.jpg 1x, ../img/buy_choco_desktop@2x.jpg 2x"
    src="../img/buy_choco_desktop.jpg" 
    alt="chocolate" 
    width="368px">
</li>
</ul>
<p>Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
<button type="buttom">Buy now</button>
</div>
