:root {
  --color-black: rgba(17, 17, 17, 1);
  --color-dark-purple: rgba(30, 24, 35, 1);
  --color-orange: rgba(253, 146, 34, 1);
  --color-white: rgba(250, 250, 250, 1);

  --time-distribution: cubic-bezier(0.4, 0, 0.2, 1);
  --time-duration: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 72px;
}

.container {
  width: 100%;

  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 365px;
  }
}

@media screen and (min-width: 768px) {
  section {
    padding-top: 100px;
  }

  .container {
    max-width: 734px;
  }

  h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  section {
    padding-top: 128px;
  }

  .container {
    max-width: 1166px;
  }
}
