.hero-section {
  padding: 0px 20px 72px 20px;
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding: 0px 32px 50px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding: 0px 32px 72px 32px;
  }
}

/* фото бекграунд додам після цієї перевірки */

.hero-container {
  width: 100%;
  max-width: 335px;

  margin-left: auto;
  margin-right: auto;

  padding: 396px 20px 20px 20px;

  background-image: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.4)),
    url(/img/hero_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  background-color: var(--color-orange);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)
      ),
      url(/img/hero_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 704px;

    padding: 671px 40px 40px 40px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)
      ),
      url(/img/hero_tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)
      ),
      url(/img/hero_tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    max-width: 1136px;

    padding: 381px 40px 40px 40px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)
      ),
      url(/img/hero_desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)
      ),
      url(/img/hero_desktop@2x.jpg);
  }
}

.hero-title {
  color: var(--color-white);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  br {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  .hero-btn-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
.hero-button-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.hero-button {
  border-radius: 100px;

  padding: 12px 28px;

  cursor: pointer;

  color: var(--color-white);
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  transition: background-color var(--time-duration) var(--time-distribution),
    color var(--time-duration) var(--time-distribution),
    border var(--time-duration) var(--time-distribution);
}

@media screen and (min-width: 768px) {
  .hero-button {
    padding: 14px 40px;
  }
}
.hero-button.сolored {
  border: none;
  background-color: var(--color-orange);
}
.hero-button.transparent {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.hero-button.сolored:hover,
.hero-button.сolored:focus {
  background-color: var(--color-light-orange);
  color: var(--color-orange);
}
.hero-button.transparent:hover,
.hero-button.transparent:focus {
  border: 1px solid var(--color-orange);
  color: var(--color-orange);
}

.hero-button.scroll {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .hero-button.scroll {
    margin-top: 0;
  }
}

.elips-btn-hero {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 28px;
  width: 28px;
  background-color: var(--color-white);
  border-radius: 50%;
  color: var(--color-orange);
  transition: background-color var(--time-duration) var(--time-distribution),
    color var(--time-duration) var(--time-distribution);
}

@media screen and (min-width: 768px) {
  .elips-btn-hero {
    height: 38px;
    width: 38px;
  }
}

.icon-btn-hero {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .icon-btn-hero {
    width: 22px;
    height: 22px;
  }
}

.hero-button.scroll:hover,
.hero-button.scroll:focus {
  color: var(--color-orange);
}

.hero-button.scroll:hover .elips-btn-hero,
.hero-button.scroll:focus .elips-btn-hero {
  background-color: var(--color-orange);
  color: var(--color-white);
}

/* <!-- MODAL --> */
.hero-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(117, 97, 37, 0.2);
  opacity: 1;
  z-index: 10;
  overflow-y: scroll;
  transition: opacity var(--time-duration) var(--time-distribution),
    visibility var(--time-duration) var(--time-distribution);
}
.hero-backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.hero-modal {
  padding: 32px 24px 32px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 311px;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  border-radius: 15px;
}
.btn-modal-close {
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  stroke: var(--color-black);

  transition: background-color var(--time-duration) var(--time-distribution),
    stroke var(--time-duration) var(--time-distribution);
}

.btn-modal-close:focus,
.btn-modal-close:hover {
  background-color: var(--color-light-orange);
  stroke: var(--color-orange);
}

.color-title-hero {
  color: var(--color-orange);
}
.item-form-hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.name-surname {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.item-form-hero input {
  background-color: transparent;
  border: none;
  width: 100%;
  max-width: 263px;
  height: 45px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  outline: none;
  padding: 18px 14px 18px 14px;
}
.item-form-hero label {
  margin-bottom: 8px;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}
.item-form-hero.coment textarea {
  background-color: transparent;
  resize: none;
  border: none;
  width: 100%;
  max-width: 263px;
  height: 90px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  outline: none;
  padding: 18px 14px 18px 14px;
}
.item-form-hero input::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}
.item-form-hero textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.slide-hero-modal.swiper {
  padding-bottom: 27px;
}

.img-box-hero {
  width: 231px;
  height: 257px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px 32px 28px 32px;

  background: var(--color-white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.choco-heft {
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  width: 96px;
  height: 33px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21px;
  color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
}
