.title-made {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  margin-bottom: 50px;
  color: var(--color-black);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 1.17;
  }
}

.title-slogan {
  color: var(--color-orange);
}

.how-its-made {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .how-its-made {
    flex-wrap: nowrap;
    gap: 20px;
  }
}

.list-made {
  position: relative;
}

.main-image-made {
  position: relative;
}

.image {
  border-radius: 15px;
}

.custom-inside {
  width: 8px;
  height: 8px;

  position: absolute;
  background-image: url(../img/custom-inside.svg);

  left: 0;
  margin-top: 5px;
}

.subtitle {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;

  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .subtitle {
    margin-bottom: 28px;
  }
}

.list-made .item {
  line-height: 1.29;
  letter-spacing: -0em;
  padding-left: 16px;
  margin-bottom: 18px;
}

.list-made .item:last-child {
  margin-bottom: 0;
}

.text-made {
  list-style-position: outside;
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 20px 14px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .text-made {
    width: 614px;
    padding: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .text-made {
    margin-top: 0;
    padding-bottom: 34px;
    width: 516px;
  }
}

.video-made {
  width: 335px;
  height: 500px;
}

@media screen and (min-width: 768px) {
  .video-made {
    width: 614px;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .video-made {
    width: 600px;
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  .video-made {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .image-made {
    display: none;
  }
}

.image-made {
  position: relative;
}

.play-made {
  position: absolute;
  width: 35px;
  height: 35px;
  top:50%;
  left: 50%;
  transform: translate(-50%);
}
