.title-made {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  margin-bottom: 50px;
  color: var(--color-black);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 1.17;
  }
}

.title-slogan {
  color: var(--color-orange);
}

.how-its-made {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .how-its-made {
    flex-wrap: nowrap;
    gap: 20px;
  }
}

.list-made {
  position: relative;
}

.main-image-made {
  position: relative;
}

.image {
  border-radius: 15px;
}

.play {
  position: absolute;
  background-color: transparent;
  border: none;
  /* width: 44px;
  height: 44px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.play-svg {
  width: 44px;
  height: 44px;
}

.custom-inside {
  width: 8px;
  height: 8px;

  position: absolute;
  background-image: url(../img/custom-inside.svg);

  left: 0;
  margin-top: 5px;
}

.subtitle {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;

  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .subtitle {
    margin-bottom: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .subtitle:after {
    content: '';
    width: 256px;
    height: 0;
    border: 1.5px solid #d9d9d9;
    transform: rotate(90deg);
    position: absolute;
    top: 127px;
    left: 323px;
  }
}

.list-made .item {
  line-height: 1.29;
  letter-spacing: -0em;
  padding-left: 16px;
  margin-bottom: 18px;
}

.list-made .item:last-child {
  margin-bottom: 0;
}

.text-made {
  list-style-position: outside;
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 20px 14px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .text-made {
    width: 614px;
    padding: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .text-made {
    margin-top: 0;
    padding-bottom: 94px;
    width: 516px;
  }
}

@media screen and (min-width: 1200px) {
  .desktop-none {
    display: none;
  }
}

/* =========BACKDROP========= */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity, visibility, transform;
  transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
  transition-duration: 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.5);
}

/* =========MODAL========= */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 560px;
  max-width: 100vw;
  height: 315px;
  background: #a5a0a0dc;
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border: #0000001a;
  border-radius: 50%;
  padding: 0;
  background-color: #ec0b0bfd;

  position: absolute;
  top: 24px;
  right: 24px;
  stroke: black;

  transition: background-color;
  transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1);
  transition-duration: 250ms;
}

.close-btn {
  width: 20px;
  height: 20px;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .backdrop {
    display: none;
  }
}
