.products-title {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .products-title {
    margin-bottom: 50px;
  }
}
.products-item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 52px;
  padding-left: 53px;
  margin: 0 auto;
  background: var(--color-white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .products-item {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.products-caption {
  margin-top: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-black);
}

.products-text {
  margin-top: 2px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.products-btn {
  margin-top: 18px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 94px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--color-black);
  background-color: var(--color-grey);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  transition: color var(--time-distribution) var(--time-duration),
    background-color var(--time-distribution) var(--time-duration), 
    border var(--time-distribution) var(--time-duration);
}
.products-btn:hover,
.products-btn:focus {
  color: var(--color-light-orange);
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
}
